<div id="portal-logo">
<h2 class="portal-logo">Steele & Brown</h2>
</div>
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
    data-target="#navbarLinks">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="collapse navbar-collapse" id="navbarLinks">
  <ul class="nav navbar-nav">
    <li class="<%= 'active' if current_page?(client_portal_path) %>"><%= link_to "Bio", client_portal_path %></li>
    <li class="<%= 'active' if current_page?(primary_object_path) %>"><%= link_to "Primary Object", primary_object_path %></li>
    <li class="<%= 'active' if current_page?(investment_path) %>"><%= link_to "Investment Opportunity",investment_path %></li>
    <li class="<%= 'active' if current_page?(riot_ritual_path) %>"><%= link_to "Riot & Ritual", riot_ritual_path  %></li>
    <li><%= link_to "Sign Out".html_safe, destroy_user_session_path, method: "delete" %></li>
    <!-- <li><a href="#">Menu</a></li>
    <li><a href="#">Gallery</a></li>
    <li><a href="#">Contact</a></li> -->

  </ul>
</div>
</nav>
<script charset="utf-8">


$('#portal-logo').click(function(){
  window.location = "<%= root_path %>"
});
$("nav li").click(function () {
  $("nav li.active").removeClass("active"); //Remove any "active" class
  $("nav li", this).addClass("active"); //Add "active" class to selected tab

  // $(activeTab).show(); //Fade in the active content
});

</script>
