<!DOCTYPE html>
<html>
<head>
  <title>Steele&Brown</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", media: "all", :data => {'skrollr-stylesheet' => ''}, "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= javascript_include_tag "skrollr" %>

<%= javascript_include_tag "skrollr.stylesheets.min" %>
<%= javascript_include_tag "placeholder.min" %>

<script type="text/javascript">
var s = skrollr.init();
Placeholdem( document.querySelectorAll( '[placeholder]' ) );
</script>

</body>
</html>
